@model ChatSession

@using InvertersChatApp.Controllers;

<h1>@ChatRoomController.Rooms.GetValueOrDefault(Model.RoomSession)</h1>

<div class="input-group mb-3" style="width:60%">
    <input id="message" type="text" class="form-control" placeholder="Chat text" aria-label="Chat text" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button id="btnSend" class="btn btn-outline-primary" type="button">Send</button>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div id="messages"></div>
    </div>
    <div class="col-6"></div>
</div>

@section scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

        connection.start().then(() => {
            connection.invoke("AddToGroup", "@Model.RoomSession")
        }).catch((e) => console.error(e));

        $("#btnSend").on("click", function (event) {
            let room = "@Model.RoomSession";
            let user = "@Model.UserEmail";
            let message = $("#message").val();

            connection.invoke("SendMessage", room, user, message)
                .catch((e) => console.error(e));

            $("#message").val("");
            $("#message").focus();

            event.preventDefault();
        });


        $('#message').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $('#btnSend').click();
                return false;
            }
        });

        var msgNumber = 0;
        var messagesLimit = @Model.NumberOfMessagesInRoom;

        connection.on("ReceiveMessage", (user, message) => {
            msgNumber++;

            var message = "<div id='msgNumber_" + msgNumber + "'><b>" + user + ":</b> " + message + "</div>";
            $("#messages").prepend(message);
            

            if (msgNumber > messagesLimit)
            {
                var msgToRemove = msgNumber - messagesLimit;
                $('#msgNumber_' + msgToRemove).remove();
            }
        });
    </script>
}